PORT = 3000

# 데이터베이스 설정
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=

# Cloud Tasks 설정
GCP_PROJECT_ID=ttorang
GCP_LOCATION=asia-northeast3
CLOUD_TASKS_QUEUE_NAME=conversion-queue
CLOUD_TASKS_SERVICE_ACCOUNT=
CLOUD_RUN_SERVICE_URL=

# Redis 설정 (Upstash)
REDIS_URL=
